* {
    margin: 0;
    padding: 0;
    
    
}

header {
    background-color: none;

}
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px%;
    margin: 0 auto;
    padding: 20px 15px;
    
    


}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    text-align: center;
    align-items: center;
    color: #fb0606;

}

ul li {
    display: flex;
    list-style: none;
    text-align: center;
    
}

ul li a {
    text-decoration: none;
    color: #010000;
    font-weight: bold;
    text-align: center;
}

.logo {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    
}

space {
    color: #fb0606;
    font-weight: bold;
    text-transform: uppercase;
}

.common-button {
    background-color: #ffbb00;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    text-align: center;
    font-size: 15px;

}